/* Mobile-first base styles */

/* App background */
body {
  background: url('./assets/background.webp') no-repeat center center fixed;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}
